/* Grundläggande stilar för användarsidan */
div.userPage {
  box-sizing:  border-box;
  max-width: 500px;
  padding: 1rem;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px var(--box-shadow-color);
}
.timerContainer > p{
  margin-left: 1em;
}

.sortLabel{
  margin-left: 40px;
  font-size: 0.9em;
  font-style: italic;
}
.sortSelect{
  padding: 0.3em;
  margin-left: 2em;
  font-size: inherit;
  font-style: inherit;
  border-radius: 5px;
  border: 1px dotted;
}
/* Historia för parkering (kan fyllas med mer stil senare) */
.parkingHistory {
  margin-bottom: 1rem;
}
button.sortHistoryButton{
font-weight: 500;
margin-left: 70%;
}
button.active {
color: #646cff;
  box-shadow: 0px 2px 5px var(--box-shadow-color);
}
button.active:hover {
  color: white;
}
/* Stilar för listade bilar */
.listedCar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  /* background-color: #fff; */
  border-radius: 8px;
  box-shadow: 0px 2px 5px var(--box-shadow-color);
  margin-bottom: 0.3em;
}

.listedCar > button:hover {
  transform: scale(1.1);
}

.listedCar > button.parked {
  /* filter: unset; */
  background-color:var(--primary-color);
  color: white;
}

.listedCar > button.notParked {
  filter: unset;
}

.listedCar > div {
  width: 80%;
  margin-right: 1rem;
  text-align: left;
}

/* Stilar för när bilen inte är parkerad */
div.carNotParked {
  background-image: url('../assets/car.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40px; 
  padding: 0.5em 0.5em 0.5em 2em;
  margin-left: 40px;
  font-size: 1.5em;
  font-variant: small-caps;
  letter-spacing: 0.2em;
  background-color: #f8f8f8;
  border: 2px solid #dcdcdc;
  border-radius: 8px;
  box-shadow: 0px 2px 5px var(--box-shadow-color)
}

div.carParked {
  background-image: url('../assets/car.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40px;
  padding: 0.5em 0.5em 0.5em 2em;
  margin-left: 20px;
  margin-right:auto;
  font-size: 1.6em;
  font-variant: small-caps;
  letter-spacing: 0.2em;
  text-align: left;
  background-color: #dfe0ff;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  box-shadow: 0px 2px 5px var(--box-shadow-color)
}

/* Formulärstilar */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form > input {
  padding: 0.8em;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

form > input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.toggleButtonDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

p.parkingFee{
  font-size: 1.3rem;
  
}
/* Media Queries för responsiv design */
@media (max-width: 768px) {
  div.userPage {
    width: 95vw;
  }

 
}