/* Grundläggande stilar för användarsidan */
div.userPage {
  max-width: 500px;
  width: 95vw;
  padding: 1rem;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Historia för parkering (kan fyllas med mer stil senare) */
.parkingHistory {
  margin-bottom: 1rem;
}
button.active {
color: #646cff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
button.active:hover {
  color: white;
}
/* Stilar för listade bilar */
.listedCar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  /* background-color: #fff; */
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.3em;
}

.listedCar > button:hover {
  transform: scale(1.1);
}

.listedCar > button.parked {
  /* filter: unset; */
  background-color:#4CAF50;
}

.listedCar > button.notParked {
  filter: unset;
}

.listedCar > div {
  width: 80%;
  margin-right: 1rem;
  text-align: left;
}

/* Stilar för när bilen inte är parkerad */
div.carNotParked {
  background-image: url('../assets/car.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40px; 
  padding: 0.5em 0.5em 0.5em 2em;
  margin-left: 40px;
  font-size: 1.5em;
  font-variant: small-caps;
  letter-spacing: 0.2em;
  background-color: #f8f8f8;
  border: 2px solid #dcdcdc;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

div.carParked {
  background-image: url('../assets/car.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40px;
  padding: 0.5em 0.5em 0.5em 2em;
  margin-left: 20px;
  margin-right:auto;
  font-size: 1.6em;
  font-variant: small-caps;
  letter-spacing: 0.2em;
  text-align: left;
  background-color: #e5f8e5;
  border: 2px solid green;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Formulärstilar */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form > input {
  padding: 0.8em;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

form > input:focus {
  outline: none;
  border-color: #4CAF50;
}

.toggleButtonDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .toggleButtonDiv>button {
    font-size: 5rem;
  }
}

/* Media Queries för responsiv design */
@media (max-width: 768px) {
  div.userPage {
    width: 90vw;
  }

 
}