#root {
  max-width: 500px;
  margin: 0 auto;
}
* {
  font-size: 14px;
}
h1 {
  font-size: 20px;
}
.left {
  display: flex;
  flex-direction: column;
}
.right {
 margin-left: 2em;
}
#sitebox {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
div.car {
  background-image: url('./assets/car.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40px;
  min-height: 20px;
  padding: 1em;
  margin-right: 1em;
  margin-bottom: 0.3em;
  font-size: 2em;
  font-variant: small-caps;
  border: 1px solid gray;
}